/* .mantine-DateTimePicker-calendarHeaderControl{
    border: 1px solid red;
    transform: rotate(90deg);
} */
.mantine-DateTimePicker-calendarHeaderControl:nth-of-type(1){
    transform: rotate(90deg) !important;
    border: 1px solid blue;
    width: 40px;
    display: flex !important;
    align-self: center !important;
    justify-self: center !important;
    height: 30px;
    text-align: center;
}
.mantine-DateTimePicker-calendarHeaderControl:nth-of-type(3){
    transform: rotate(270deg) !important;
    border: 1px solid blue;
    width: 40px;
    display: flex !important;
    align-self: center !important;
    justify-self: center !important;
    height: 30px;
    text-align: center;
    
}
.mantine-Popover-dropdown{
    width: 320px !important;
}
.mantine-DateTimePicker-month{
    width: 90%;
    margin: auto;
}

.mantine-DateTimePicker-weekday{
    box-sizing: border-box;
    color: var(--mantine-color-dimmed);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    padding-bottom: calc(var(--wr-spacing, var(--mantine-spacing-sm)) / 2);
}

.mantine-DateTimePicker-calendarHeader{
    display: flex !important;
    align-items: center !important;
    /* border: 1px solid orange; */
    width: 280px !important;
    justify-items: center;
    justify-content: center;
    align-self: center !important;
}
/* button.mantine-focus-auto.m_2351eeb0.mantine-DateTimePicker-calendarHeaderControl.m_87cf2631.mantine-UnstyledButton-root{
    border: 1px solid orange;
    align-items: center;
    justify-content: center;
} */
button.mantine-focus-auto.m_2351eeb0.mantine-DateTimePicker-calendarHeaderControl.m_87cf2631.mantine-UnstyledButton-root {
    /* border: 1px solid orange; */
    align-items: center;
    justify-content: center;
}
button.mantine-focus-auto.m_f6645d97.mantine-DateTimePicker-calendarHeaderLevel.m_87cf2631.mantine-UnstyledButton-root{
    width: 30%;
    margin: auto;
}
.mantine-DateTimePicker-timeWrapper{
    display: flex;
    justify-content: space-between;
}