.wrapper {
    display: flex;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
    border-radius: var(--mantine-radius-lg);
    /* padding: rem(4px); */
    padding: 4px;
    /* border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8)); */
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
  
    @media (max-width: 48em) {
      flex-direction: column;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1;
    position: relative;
  
    @media (max-width: 48em) {
      height: 100%;
      padding-bottom: calc(var(--mantine-spacing-xl) * 3);
    }
  }

  .title {
    color: #333;
    /* font-size: rem(60px); */
    font-size: 3.3rem;
    font-weight: 900;
    line-height: 1.1;

    @media (max-width: 74em) {
      font-size: 30px;
      line-height: 1.2;
    }
  
    @media (max-width: 48em) {
      font-size: 25px;
      line-height: 1.2;
    }
  
    @media (max-width: 30em) {
      font-size: 20px;
      line-height: 1.3;
    }
  }

  .description {
    color: #333;
    max-width: rem(600px);
  
    @media (max-width: 48em) {
      max-width: 100%;
      font-size: var(--mantine-font-size-sm);
    }
  }
  
  .form {
    flex: 0.3;
    padding: var(--mantine-spacing-xl);
    padding-left: calc(var(--mantine-spacing-xl) * 2);
    border-left: 0;
    margin: auto;
  
    @media (max-width: 48em) {
      padding: var(--mantine-spacing-md);
      padding-left: var(--mantine-spacing-md);
    }
  }
  
  .fields {
    /* margin-top: rem(-12px); */
    margin-top: -12px;
  }
  
  .fieldInput {
    flex: 1;
  
    & + & {
      margin-left: var(--mantine-spacing-md);
  
      @media (max-width: 48em) {
        margin-left: 0;
        margin-top: var(--mantine-spacing-md);
      }
    }
  }
  
  .fieldsGroup {
    display: flex;
  
    @media (max-width: 48em) {
      flex-direction: column;
    }
  }
  
  .contacts {
    box-sizing: border-box;
    position: relative;
    border-radius: var(--mantine-radius-lg);
    background-size: cover;
    background-position: center;
    border: rem(1px) solid transparent;
    padding: var(--mantine-spacing-xl);
    /* flex: 0 0 rem(280px); */
    flex: 0.6;
    height: 100vh;
  
    @media (max-width: 48em) {
      margin-bottom: var(--mantine-spacing-sm);
      padding-left: var(--mantine-spacing-md);
    }
  }
  
  /* .title { */
    /* margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  
    @media (max-width: 48em) {
      margin-bottom: var(--mantine-spacing-xl);
    } */
  /* } */
  
  .control {
    margin-top: 13px;
    @media (max-width: 48em) {
      flex: 1;
    }
  } 

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
