.header {
    margin: auto;
    height: 50px;
    margin-bottom: 15px;
  }
  
  
  .inner {
    /* height: 50px; */
    /* position: relative; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: 2px;
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: 12px;
    font-weight: 500;
    transition-duration: 0.2s; /* Duration of the transition */
    transition-delay: 0.1s;

    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

    &::before {
      display: none;
    }
  
    [data-mantine-color-scheme] &[data-active] {
      background-color: var(--mantine-color-blue-filled);
      background-color: #171717;
      /* padding: 7.5px; */
      color: var(--mantine-color-white);
    }
  }




  .root {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    box-shadow: var(--mantine-shadow-md);
    border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
  }
  
  .indicator {
    background-image: linear-gradient(
      to right,
      var(--mantine-color-pink-filled),
      var(--mantine-color-orange-filled)
    );
  }
  
  .control {
    &::before {
      display: none;
    }
  }
  
  .label {
    &,
    &:hover {
      &[data-active] {
        color: var(--mantine-color-white);
      }
    }
  }