.taskList{
    border-left: 3px solid rgb(182, 244, 130);
    background-color: rgba(182, 244, 146, 0.3);
}
.defaultTaskList{
    border-left: 3px solid #228be65e;
    background-color: #fff;
}
.listTable{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}