.card {
    background-color: #F9FAFA;
    height: 88%;
    height: 170px;
  }

  .inner{
    height: 100%;
    margin-top: 0px;
  }
  
  .item {
    /* & + & { */
      padding-top: var(--mantine-spacing-sm);
      margin-top: var(--mantine-spacing-xs);
      /* border-top: 1px solid rgba(211, 211, 211, 0.566); */
      border-radius: 15px;
      padding: 12px 0px;
    /* } */
  }
  
  .switch {
    & * {
      cursor: pointer;
    }
  }
  
  .title {
    line-height: 1;
  }