.navbar {
    background-color:#FAFBFC;
    height: 100%;
    width: 230px;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    /* border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */
    /* border-right: 1px solid lightblue; */

  }
  /* .navbar:hover{
    width: rem(500px) !important;
    width: 500px !important;
    position: absolute;
    cursor: pointer;
  } */
  .innerSideNav{
    height: 38rem;
    position: fixed;
    display: flex;
    flex-direction: column;
  }
  .navbarMain {
    flex: 1;
    margin-top: var(--mantine-spacing-xl);
  }
  
  .title {
    text-transform: uppercase;
    letter-spacing: rem(-0.25px);
  }
  
  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
  
    &:hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  
      & .linkIcon {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      }
    }
  
    &[data-active] {
      &,
      &:hover {
        background-color: var(--mantine-color-blue-light);
        color: var(--mantine-color-blue-light-color);
  
        & .linkIcon {
          color: var(--mantine-color-blue-light-color);
        }
      }
    }
  }
  .customBtn{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: 12px;
    font-weight: 500;
    border: 1px solid red;
    background-color: red;
  
    &:hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  
      & .linkIcon {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      }
    }
  
    &[data-active] {
      &,
      &:hover {
        background-color: var(--mantine-color-blue-light);
        color: var(--mantine-color-blue-light-color);
  
        & .linkIcon {
          color: var(--mantine-color-blue-light-color);
        }
      }
    }
  }
  
  .linkIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    margin-right: var(--mantine-spacing-sm);
    width: rem(25px);
    height: rem(25px);
  }
  
  .footer {
    border-top: 0.01rem solid lightgray;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid red; */
    /* position: absolute; */
    /* top: 49%; */
    /* bottom: 0%; */
  }

  .signOut{
    /* border: 1px solid #333; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #F2F3F5;
    color: #495057;
    flex: 0.75;
  }
  .signOut:hover{
    background-color: coral;
  }
  .otherBtn{
    /* border: 1px solid #333; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #F2F3F5;
    color: #333;
    flex: 0.15;
  }
  .otherBtn:hover{
    background-color: #333;
  }
