.navbar {
    height: 100%;
    width: 225px;
    width: 210px;
    width: 90%;
    margin: auto;

    /* padding: var(--mantine-spacing-md); */
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .controller{
    /* border: 1px solid #e5e7eb; */
  }

  .innerSideNav{
    padding-top: 60px;
    /* height: 40rem; */
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 190px;
    margin: auto;
    /* height: 100%; */
  }
  .navbarMain {
    flex: 1;
    margin-top: var(--mantine-spacing-xl);
  }
  
  .title {
    text-transform: uppercase;
    letter-spacing: rem(-0.25px);
  }
  
  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
  
    &:hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  
      & .linkIcon {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      }
    }
  
    &[data-active] {
      &,
      &:hover {
        /* background-color: #f5f5f5; */
        background-color: rgba(0, 0, 0, 0.01);
        /* border: 1px dashed #464FEB; */
        font-weight: 600;
        /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
        box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 3px 0px, rgba(0, 0, 0, 0.01) 0px 1px 2px 0px;
        border-left: 4px solid #464FEB;
        color: #464FEB;
        & .linkIcon {
          color: #464FEB;
        }
      }
    }
  }
  .customBtn{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: 12px;
    font-weight: 500;
    border: 1px solid red;
    background-color: red;
  
    &:hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  
      & .linkIcon {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      }
    }
  
    &[data-active] {
      &,
      &:hover {
        background-color: var(--mantine-color-blue-light);
        color: var(--mantine-color-blue-light-color);
  
        & .linkIcon {
          color: var(--mantine-color-blue-light-color);
        }
      }
    }
  }
  
  .linkIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    margin-right: var(--mantine-spacing-sm);
    width: rem(25px);
    height: rem(25px);
  }
  
  .footer {
    border-top: 0.01rem solid lightgray;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 290px;
  }

  .signOut{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: #F2F3F5;
    color: #495057;
    flex: 0.75;
  }
  .signOut:hover{
    background-color: red;
  }
  .otherBtn{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: #F2F3F5;
    color: #333;
    flex: 0.15;
  }
  .otherBtn:hover{
    background-color: #333;
  }
