.wrapper {
    /* display: flex; */
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
    border-radius: var(--mantine-radius-lg);
    /* padding: 4px; */
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
    --dot-bg: white;
    --dot-color: lightGray;
    --dot-size: 2px;
    --dot-space: 20px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 50%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 100%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
  
    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
}
.heroWrapper{
  background-color: transparent;
    border-radius: var(--mantine-radius-lg);
    padding: 4px;
    /* border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8)); */

    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
}
.innerwrap {
  opacity: 1;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  
}
  
  .form {
    flex: 0.7;
    padding: var(--mantine-spacing-xl);
    padding-left: calc(var(--mantine-spacing-xl) * 2);
    border-left: 0;
    margin: auto;
    /* border: 1px solid green; */
  
    @media (max-width: $mantine-breakpoint-sm) {
      padding: var(--mantine-spacing-md);
      padding-left: var(--mantine-spacing-md);
    }
  }
  
  .fields {
    margin-top: -12px;
  }
  
  .fieldInput {
    flex: 1;
  
    & + & {
      margin-left: var(--mantine-spacing-md);
  
      @media (max-width: $mantine-breakpoint-sm) {
        margin-left: 0;
        margin-top: var(--mantine-spacing-md);
      }
    }
  }
  
  .fieldsGroup {
    display: flex;
  
    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
  }
  
  .contacts {
    box-sizing: border-box;
    position: relative;
    border-radius: var(--mantine-radius-lg);
    background-size: cover;
    background-position: center;
    border: rem(1px) solid transparent;
    /* padding: var(--mantine-spacing-xl); */
    /* flex: 0 0 rem(280px); */
    flex: 0.6;
    height: 98vh;
    background: linear-gradient(-45deg, #f7f7f8, #F4F2EE, #DCC2b6, #DDE1E3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; 

    
  
    @media (max-width: $mantine-breakpoint-sm) {
      margin-bottom: var(--mantine-spacing-sm);
      padding-left: var(--mantine-spacing-md);
    }
  }
  
  .title {
    margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
    text-align: left;
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  
    @media (max-width: $mantine-breakpoint-sm) {
      margin-bottom: var(--mantine-spacing-xl);
    }
  }
  
  .control {
    margin-top: 13px;
    @media (max-width: $mantine-breakpoint-sm) {
      flex: 1;
    }
  } 

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}